@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a202c; /* You can customize this */
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
